
<div class="row">
	<div class="col-md-12">
		<a ui-sref="home" style="color:white">Go to Search</a> <br><br>
		<div class="weather-line">Weather forcast for:  {{city}}, {{country}}</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		Days: <a ui-sref="forcast-by-days({days: 2})" ng-class="{'bg-primary': days == 2}">2</a> | <a ui-sref="forcast-by-days({days: 3})" ng-class="{'bg-primary': days == 3}">3</a> | <a ui-sref="forcast-by-days({days: 5})" ng-class="{'bg-primary': days == 5}">5</a> | <a ui-sref="forcast-by-days({days: 7})" ng-class="{'bg-primary': days == 7}">7</a>
		<br><br>
	</div>
</div>

<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading">Temprature Chart for {{days}} days</div>
		<div class="panel-body">
			<br>
			<div class="col-md-4">
				<h5 style="color:#5278a5"><i><u>Bar Chart for temprature<u></i></h5>
				<canvas class="chart chart-bar" height="250" chart-data="data" chart-labels="labels" chart-series="series" chart-options="optionsBar" chart-click="onClick"></canvas> 
			</div>

			<div class="col-md-4">
				<h5 style="color:#5278a5"><i><u> Line Chart for temprature<u></i></h5>
				<canvas class="chart chart-line" height="250" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"  chart-dataset-override="datasetOverride"  chart-click="onClick"></canvas> 
			</div>

			
			<div class="col-md-4">
				<h5 style="color:#5278a5"><i><u>Horizontal Bar Chart for temprature<u></i></h5>
				<canvas id="base" class="chart-horizontal-bar" height="250" chart-data="data" chart-labels="labels" chart-series="series" chart-options="optionsBar" chart-click="onClick"></canvas> 
			</div>
		</div>
	</div>
</div>

<div class="row">
		<h4 style="background-color: #f7f7d3; width:217px">Weather forcast for {{days}} days:</h4>
		<div ng-repeat="w in weatherResult.list">
			<div class="row">
				<div class="col-md-12">
					<weather-report weather-day="w" convert-to-standard="convertKToF(degK)" 
					convert-to-date="convertToDate(dt)" date-format="MMM d, y"></weather-report>
				</div>
			</div>	 
		</div>
</div>



